body{
    font-family: arial, 맑은 고딕;
}

.bar{
    width: 0px;
    font-size: 24px;
    color: white;
    padding-left: 10px;
    padding-top: 55px;
    overflow: visible;
}

img{
    width:100%;
    margin: 0px 0px auto auto;
}
